@for (section of sections(); track $index) {
  @if (section.heading) {
    <h3 class="app-settings-list__heading">{{ section.heading }}</h3>
  }
  <mat-action-list class="app-settings-list">
    @for (item of section.items; track item.id) {
      <button mat-list-item (click)="select.emit(item.id)">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
        <mat-icon matListItemMeta>chevron_right</mat-icon>
      </button>
    }
  </mat-action-list>
}
